*{
    box-sizing: border-box;
}
body{
    display:flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
.container{
    display: flex;
}
#main{
    display: flex;
    flex: 1;
    width: 80vw;
}
#main > article{
    flex: 1;
    order: 1;
    height: 60vh;
    background-color: #BA94D1;
}
#main aside{
    flex: 0 0 20vw;
}
#main aside{
    background-color: #DEBACE;
    order: 2;
}
nav{
    background-color: #7F669D;
    width: 20vw;
}
header, footer{
    background-color:#F0DBDB;
    height: 20vh;
}
header, footer, article, nav, aside{
    padding: 1em;
}